<footer class="bg-light-main mt-3">
  <div class="container p-5">
    <h3>Get The FreshCart app</h3>
    <p class="text-muted">
      We Will Send you a link, Open it on your phone to download the app
    </p>
    <div
      class="input d-flex justify-content-between align-items-center mt-4 gap-3"
    >
      <input class="form-control" type="email" placeholder="Email..." />
      <button class="main-btn flex-shrink-0">Share App Link</button>
    </div>
    <hr />
    <div
      class="payment d-flex justify-content-between align-items-center p-2 mt-4"
    >
      <div>
        <span>Payment Partners </span>
        <img src="./assets/images/Amazon_Pay-Logo.wine.svg" />
        <img src="./assets/images/American_Express-Logo.wine.svg" />
        <img src="./assets/images/Mastercard-Logo.wine.svg" />
        <img src="./assets/images/PayPal-Logo.wine.svg" />
      </div>

      <div>
        <span>Get deliveries with FreshCart</span>
        <img src="./assets/images/google-play-badge.png" alt="" />
        <img src="./assets/images/app-store-png-logo-33107 (1).png" alt="" />
      </div>
    </div>
    <hr />
    <h3 class="h6 text-center">
      &copy;2023 AbdulHamid Sameh All Rights Reserved
    </h3>
  </div>
</footer>
