<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" role="button"
      ><img
        role="button"
        src="./assets/images/freshcart-logo.svg"
        routerLink="/login"
        alt="fresh cart logo"
    /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul
        class="navbar-nav ms-auto mt-2 mt-lg-0 d-flex gap-3 align-items-center"
      >
        <li class="nav-item">
          <a
            href="https://www.instagram.com/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.facebook.com/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.tiktok.com/ar/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fab fa-tiktok"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://twitter.com/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.linkedin.com/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.youtube.com/"
            class="text-decoration-none text-black"
            target="_blank"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/login"
            >Login</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/register"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
