<section class="w-75 mx-auto">
  <h1 class="h5">Update Password:</h1>
  <form [formGroup]="registerForm" (submit)="handelForm()">
    <div class="form-item">
      <label for="currentPassword">Current Password:</label>
      <input
        type="password"
        formControlName="currentPassword"
        class="form-control"
        id="currentPassword"
      />
      <div
        *ngIf="
          registerForm.get('currentPassword')?.errors &&
          registerForm.get('currentPassword')?.touched
        "
        class="alert alert-danger p-1 small w-50 mx-auto"
      >
        <p
          class="mb-0"
          *ngIf="registerForm.get('currentPassword')?.getError('required')"
        >
          Password Is Required
        </p>
        <p
          class="mb-0"
          *ngIf="registerForm.get('currentPassword')?.getError('pattern')"
        >
          Current Password At Least 6 Characters
        </p>
      </div>
    </div>

    <div class="form-item">
      <label for="password">Password:</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.errors &&
          registerForm.get('password')?.touched
        "
        class="alert alert-danger p-1 small w-50 mx-auto"
      >
        <p
          class="mb-0"
          *ngIf="registerForm.get('password')?.getError('required')"
        >
          Password Is Required
        </p>
        <p
          class="mb-0"
          *ngIf="registerForm.get('password')?.getError('pattern')"
        >
          Password At Least 6 Characters
        </p>
      </div>
    </div>
    <div class="form-item">
      <label for="rePassword">RePassword:</label>
      <input
        type="password"
        formControlName="rePassword"
        class="form-control"
        id="rePassword"
      />
      <div
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          registerForm.get('rePassword')?.touched
        "
        class="alert alert-danger p-1 small w-50 mx-auto"
      >
        <p
          class="mb-0"
          *ngIf="registerForm.get('rePassword')?.getError('required')"
        >
          RePassword Is Required
        </p>
        <p
          class="mb-0"
          *ngIf="registerForm.get('rePassword')?.getError('mismatch')"
        >
          Invalid Confirm RePassword
        </p>
      </div>
    </div>

    <button [disabled]="registerForm.invalid" class="main-btn">
      Update
      <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i></span>
    </button>
  </form>
  <p
    *ngIf="errMsg"
    class="alert alert-danger p-1 w-50 mx-auto mb-0 text-center"
  >
    {{ errMsg }}
  </p>
</section>
